asgiref==3.8.1
astroid==3.3.10
crispy-bootstrap4==2024.10
dill==0.4.0
Django==5.1.2
django-crispy-forms==2.3
isort==6.0.1
mccabe==0.7.0
pillow==11.0.0
platformdirs==4.3.8
sqlparse==0.5.1
tomlkit==0.13.2
